@model IEnumerable<NewspaperKart.Models.Newspapertbl>

@{
    ViewData["Title"] = "ViewNewspaper";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    @@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
        .subscription {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        .subscription td, .subscription th {
            border: 1px solid #ddd;
            padding: 5px;
            padding-left: 10px;
        }

        .subscription tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .subscription tr:hover {
            background-color: #ddd;
        }

        .subscription th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #01054d;
            color: white;
        }

    .wrapper {
        display: inline-flex;
    }

        .wrapper .icon {
            position: relative;
            background-color: #ffffff;
            border-radius: 50%;
            border: 1px solid #adc4bf;
            padding: 15px;
            margin: 10px;
            width: 50px;
            height: 50px;
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }

        .wrapper .tooltip {
            position: absolute;
            top: 0;
            font-size: 14px;
            background-color: #ffffff;
            color: #ffffff;
            padding: 5px 8px;
            border-radius: 5px;
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
            opacity: 0;
            pointer-events: none;
            transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }

            .wrapper .tooltip::before {
                position: absolute;
                content: "";
                height: 8px;
                width: 8px;
                background-color: #ffffff;
                bottom: -3px;
                left: 50%;
                transform: translate(-50%) rotate(45deg);
                transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            }

        .wrapper .icon:hover .tooltip {
            top: -45px;
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }

        .wrapper .icon:hover span,
        .wrapper .icon:hover .tooltip {
            text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
        }

        .wrapper .edit:hover,
        .wrapper .edit:hover .tooltip,
        .wrapper .edit:hover .tooltip::before {
            background-color: #6bdaff;
            color: black;
        }
        .wrapper .delete:hover,
        .wrapper .delete:hover .tooltip,
        .wrapper .delete:hover .tooltip::before {
            background-color: #ff5757;
            color: black;
        }
</style>

<body>
    <br />
    <h2 class="text-center" style="font-family: 'Comic Sans MS'">Newspaper List  <a asp-action="AddNewspaper" asp-controller="Newspaper" class="btn btn-info" style="display: inline-block; float: right;">Add Newspaper</a></h2><br />
   
    <table class="subscription">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Language)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Language)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <div class="wrapper">
                            <div class="icon edit">
                                <div class="tooltip">Edit</div>
                                <a asp-action="UpdateNewspaper" asp-route-id="@item.Id"><span><i class="fa fa-edit" style="color: black;"></i></span></a>
                            </div>
                        </div>
                        <div class="wrapper">
                            <div class="icon delete">
                                <div class="tooltip">Delete</div>
                                <a asp-action="DeleteNewspaper" asp-route-id="@item.Id"><span><i class="fa fa-trash" style="color: black;"></i></span></a>
                            </div>
                        </div>
                        @*<a asp-action="UpdateNewspaper" asp-route-id="@item.Id">Edit</a> |*@
                        @*<a asp-action="Details" asp-route-id="@item.Id">Details</a>*@
                        @*<a asp-action="DeleteNewspaper" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>



@*<div>
        <a asp-action="AddCustomer"  class="btn btn-outline-dark">Back</a>
    </div>*@
