<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NewspaperKart</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        body {
            body
                {
                    background: linear-gradient(70deg, #e6e6e6, #f7f7f7);
                    color: #514B64;
                    /*min-height: 100vh;*/
                }

                code {
                    background: #fff;
                    padding: 0.2rem;
                    border-radius: 0.2rem;
                    margin: 0 0.3rem;
                }

                
/*            background-image: url('https://bsmedia.business-standard.com/_media/bs/img/article/2017-09/23/full/1506166155-0358.jpg');
*//*            background-repeat: no-repeat;
*/            
                background-color: gainsboro;
        }
    </style>
</head>
<body>
    <header>
        @using Microsoft.AspNetCore.Http
        @using System.Linq
        @inject IHttpContextAccessor HttpContextAccessor
        <nav class="navbar navbar-expand-lg py-2 navbar-dark shadow-sm" style="background-color: #020312;">
            <div class="container">
                <a asp-controller="Demo" asp-action="Index" class="navbar-brand">
                    <img src="/images/newsgif.gif" alt="Flowers in Chania" width="100" height="50">
                    <span class="text-uppercase font-weight-bold" style="font-family: 'Comic Sans MS'">NEWSPAPER KART</span>
                </a>

                <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

                @{
                    ViewBag.Cust = @HttpContextAccessor.HttpContext.Session.GetString("CustUsername");
                    ViewBag.Admin = @HttpContextAccessor.HttpContext.Session.GetString("AdminUsername");
                    ViewBag.Vendor = @HttpContextAccessor.HttpContext.Session.GetString("VendorUsername");
                }

                @*Customer*@

                @if (ViewBag.Cust != null && ViewBag.Admin == null && ViewBag.Vendor == null)
                {

                    <div id="navbarSupportedContent" class="collapse navbar-collapse">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"><a asp-action="AddFeedback" asp-controller="Feedback" class="nav-link">Contact</a></li>
                            <li class="nav-item"><a class="nav-link">Hello @ViewBag.Cust!</a></li>
                        </ul>
                    </div>


                    <form id="logoutForm" class="form-inline" asp-controller="Customer" asp-action="CustomerLogout" asp-route-returnUrl="@Url.Action("Index", "Demo", new { area = "" })">
                        <div id="navbarSupportedContent" class="collapse navbar-collapse">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item"><input value="Logout" type="submit" id="logout" onclick="return confirm('Are you sure you want to logout??')" class="nav-link" style="margin-right: 10%; padding: 12px; margin: 0 10px; justify-content: space-between; border: 1px solid black; background: none; color: white;" /></li>
                            </ul>
                        </div>
                    </form>
                }

                @*Admin*@

                else if (ViewBag.Cust == null && ViewBag.Admin != null && ViewBag.Vendor == null)
                {
                    <div id="navbarSupportedContent" class="collapse navbar-collapse">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"><a asp-action="AddFeedback" asp-controller="Feedback" class="nav-link">Contact</a></li>
                            <li class="nav-item"><a class="nav-link">Hello @ViewBag.Admin!</a></li>
                        </ul>
                    </div>


                    <form id="logoutForm" class="form-inline" asp-controller="Admin" asp-action="AdminLogout" asp-route-returnUrl="@Url.Action("Index", "Demo", new { area = "" })">
                        <div id="navbarSupportedContent" class="collapse navbar-collapse">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item"><input value="Logout" type="submit" id="logout" onclick="return confirm('Are you sure you want to logout??')" class="nav-link" style="margin-right: 10%; padding: 12px; margin: 0 10px; justify-content: space-between; border: 1px solid black; background: none; color: white;" /></li>
                            </ul>
                        </div>
                    </form>
                }

                @*Vendor*@

                else if (ViewBag.Cust == null && ViewBag.Admin == null && ViewBag.Vendor != null)
                {
                    <div id="navbarSupportedContent" class="collapse navbar-collapse">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"><a asp-action="AddFeedback" asp-controller="Feedback" class="nav-link">Contact</a></li>
                            <li class="nav-item"><a class="nav-link">Hello @ViewBag.Vendor!</a></li>
                        </ul>
                    </div>


                    <form id="logoutForm" class="form-inline" asp-controller="Vendor" asp-action="VendorLogout" asp-route-returnUrl="@Url.Action("Index", "Demo", new { area = "" })">
                        <div id="navbarSupportedContent" class="collapse navbar-collapse">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item"><input value="Logout" type="submit" id="logout" onclick="return confirm('Are you sure you want to logout??')" class="nav-link" style="margin-right: 10%; padding: 12px; margin: 0 10px; justify-content: space-between; border: 1px solid black; background: none; color: white;" /></li>
                            </ul>
                        </div>
                    </form>
                }

                else
                {
                    <div id="navbarSupportedContent" class="collapse navbar-collapse">
                        <ul class="navbar-nav ml-auto">
                            @*<li class="nav-item"><a asp-action="Login" asp-controller="Login" class="nav-link">Login</a></li>*@
                        </ul>
                    </div>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - NewspaperKart - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
