@model NewspaperKart.Models.Subscriptiontbl

@{
    ViewData["Title"] = "DeleteSubscription";
}


<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" />
    <link rel="stylesheet" href="~/css/style.css" />
    <style>
        .content-box {
            background-color: #fafafb;
            box-shadow: 1px 4px 8px rgba(0,0,0,.15);
            transition: all .3s ease-in-out;
            padding: 10px;
            padding-bottom: 0;
            margin-top: 40px;
            margin-bottom: 10px;
            height: 300px;
        }

        .content-box .finbyz-icon {
            height: 100px;
            width: 100px;
            display: inline;
        }

        .noselect {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-tap-highlight-color: transparent;
        }

        button {
            width: 150px;
            height: 50px;
            cursor: pointer;
            display: flex;
            align-items: center;
            background: red;
            border: none;
            border-radius: 5px;
            box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
            background: #e62222;
        }

        button, button span {
            transition: 200ms;
        }

        button .text {
            transform: translateX(35px);
            color: white;
            font-weight: bold;
        }

        button .icon {
            position: absolute;
            border-left: 1px solid #c41b1b;
            transform: translateX(110px);
            height: 40px;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        button svg {
            width: 15px;
            fill: #eee;
        }

        button:hover {
            background: #ff3636;
        }

        button:hover .text {
            color: transparent;
        }

        button:hover .icon {
            width: 150px;
            border-left: none;
            transform: translateX(0);
        }

        button:focus {
            outline: none;
        }
    </style>
</head>


<body>
    <div>
        <center>
            <h2 class="text-center" style="display: inline-block; margin-left: auto; font-family: 'Comic Sans MS'">Are you sure you want to delete this record?</h2>
            <div class="col-md-6 text-center" style="opacity: 1;">
                <div class="content-box">
                    <center>
                        <h5 class="text-center" style="text-decoration: underline; display: inline-block; margin-left: auto; font-family: 'Comic Sans MS'">Subscription</h5>
                        <br />
                        <br />
                        <table>
                            <tr>
                                <th>
                                    <h5>
                                        @Html.DisplayNameFor(model => model.CustId)
                                    </h5>
                                </th>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <h5>
                                        @Html.DisplayFor(model => model.CustId)
                                    </h5>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <h5>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </h5>
                                </th>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <h5>
                                        @Html.DisplayFor(model => model.Name)
                                    </h5>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <h5>
                                        @Html.DisplayNameFor(model => model.Title)
                                    </h5>
                                </th>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <h5>
                                        @Html.DisplayFor(model => model.Title)
                                    </h5>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <h5>
                                        @Html.DisplayNameFor(model => model.Subscriptiontype)
                                    </h5>
                                </th>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <h5>
                                        @Html.DisplayFor(model => model.Subscriptiontype)
                                    </h5>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <h5>
                                        @Html.DisplayNameFor(model => model.Timeperiod)
                                    </h5>
                                </th>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <h5>
                                        @Html.DisplayFor(model => model.Timeperiod)
                                    </h5>
                                </td>
                            </tr>
                        </table>
                        <br />
                        <form asp-action="DeleteSubscription">
                            <input type="hidden" asp-for="SubId" />
                            <button class="noselect"><span class='text'>Delete</span><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z" /></svg></span></button>
                        </form>
                    </center>
                </div>
            </div>
        </center>
    </div>
</body>