@model IEnumerable<NewspaperKart.Models.Subscriptiontbl>

@{
    ViewData["Title"] = "ViewSubscription";
}

<style>
    .subscription {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        .subscription td, .subscription th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        .subscription tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .subscription tr:hover {
            background-color: #ddd;
        }

        .subscription th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #01054d;
            color: white;
        }
</style>

<body>
    <br />
    <h2 class="text-center" style="font-family: 'Comic Sans MS'">My Subscriptions</h2><br />
    <table class="subscription">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CustId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TitleId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subscriptiontype)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Timeperiod)
                </th>
                <th>Unsubscribe</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TitleId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subscriptiontype)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Timeperiod)
                    </td>
                    <td>
                        @*<a asp-action="UpdateSubscription" asp-route-id="@item.SubId">Edit</a> |*@
                        @*<a asp-action="Details" asp-route-id="@item.Id">Details</a>*@ 
                        <a asp-action="DeleteSubscription" asp-route-id="@item.SubId" class="btn btn-outline-danger">Unsubscribe</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>



@*<div>
        <a asp-action="AddCustomer"  class="btn btn-outline-dark">Back</a>
    </div>*@
